/* -----------------white-space----------------- */
/* 
    white-space: pre;html输入的空格和回车都会生效
*/
/* div{
    white-space: pre;
} */
/* ----------------work-break----------------- */
/* 
    normal:正常情况
    keep-all:文本不允许在字符内发生换行（英文单词展示不完，整个单词直接换行）
    break-all:文本允许在任意字符内发生换行(英文单词直接展示不完直接换行)
    break-word:不同的地方在于它要求一个没有断行破发点的词必须保持为一个整体单位（英文单词展示不完，整个单词直接换行）
*/
