*{
    margin: 0;
    padding: 0;
}
/* :root,
body{
    width: 100%;
    height: 100%;
} */
.wrapper{
    width: 600px;
    height: 600px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: absolute;
    top: 100px;
    left: calc(50% - 300px);
}
.wrapper .header{
    background: #f9f9f9;;
}
.header, .footer{
    flex: 0 0 auto;
    height: 88px;
    border: 1px solid black;
}
.wrapper .header .h-top{
    line-height: 40px;
    display: flex;
}
/* 顶部区域 */
.wrapper .header .h-top .h-top-content{
    box-sizing: border-box;
    vertical-align: center;
    align-items: center;
    text-align: center;
    flex: 1 1 auto;

}
.wrapper .header .h-top .h-top-content a{
    text-decoration: none;
    color:#666;
    cursor: pointer;
}

.wrapper .header .h-top .h-top-content:nth-of-type(1){
    flex: 1 1 20%;
    text-align: left;
    padding-top: 6px;
}
/* 输入区 */
.content{
    flex: 1 1 auto;
    border: 1px solid black;
}











.wrapper .h-top img{
    width: 72px;
    height: 24px;
}